//off black#20222b
$off-black: #20222b;
$off-white:#a5afd7;
$dark-blue:#333745;
$light-blue: #cce7e8;
$light-navy:#464b5e;
$grey-black:#3d3c3d;
$blue:#3c4251;

//spacing
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$border-size:0.5rem;